<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Ask Albert - home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="css/flat-ui.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/fixed.css">
    <link rel="shortcut icon" href="images/favicon.ico">
    <link href="bootstrap/css/prettify.css" rel="stylesheet">
    <link href="css/docs.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-tagsinput.css">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
    <script>
      function clicked(qid){
        var id;
        document.getElementById(qid).submit();
//        id = qid.id;
      }
      function openProfile(uid){
       // alert(uid);
//        document.getElementById(uid).submit();
      }
    </script>
  </head>
  <body>
        <!-- Top Navbar-->
     <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        <h4 class="modal-title" id="myModalLabel">Advanced Search</h4>
			      </div>
			      <div class="modal-body">
				        <form role="form" action="ad_search.php">
		                    <div class="form-group">
		                      <input type="text" class="form-control" name="sentence" id="QuestionTitle" placeholder="Search for this sentence...">
		                    </div>
		                    <div class="form-group">
		                      <input type="text" class="form-control" name="userName" id="userTitle" placeholder="Enter user name you want to search...">
		                    </div>
		                    <div class="form-group">
		                      Start Date: <input type="date" name="startDate" class="form-control" id="startDate">		                      
		                    </div>
		                    <div class="form-group">
		                      End Date: <input type="date" name="endDate" class="form-control" id="startDate">		                      
		                    </div>
		                    <div class="form-group">
		                      <input type="text" id="QuestionTags" name="tags" class="form-control" value="" data-role="tagsinput" placeholder="Enter tags separated by commas..." />
		                    </div>
		                    <input type="button" class="btn btn-inverse" value="close" data-dismiss="modal">
		            		<input type="submit" value="Submit" class="btn btn-inverse">        
	                  </form>
			      </div>
			      
			    </div>
			  </div>
		</div> 
         <nav class="navbar navbar-inverse navbar-static-top navbar-lg" role="navigation">
                  <div class="container">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                      <span class="sr-only">Toggle navigation</span>
                    </button>
                    <a class="navbar-brand" href="index.php">Ask Albert</a>
                  </div>
                  <div class="collapse navbar-collapse" id="navbar-collapse-01">
                    <!-- List of page links -->
                    <ul class="nav navbar-nav">           
                      <li><a href="discussion.php">Discussion</a></li>
                      <li><a href="ask.php">Ask A Question</a></li>
                      <li><a href="profile.php">Profile</a></li>
                    </ul>           
                    
                    <!-- Search Form-->
                    <form class="navbar-form navbar-left"  role="form" action="ad_search.php">
                      <div class="form-group">
                        
                        <div class="input-group">
                         
                          <input class="form-control" name="sentence" type="text" placeholder="Search">
                          <span class="input-group-btn">
                            <button type="submit" class="btn"><span class="fui-search"></span></button>
                          </span> 
                        
                        </div>
                        
                      </div>               
                    </form>
                    <a href="" data-toggle="modal" data-target="#myModal" class="navbar-text"><small>Advanced Search</small></a>              
                    <p class="navbar-text navbar-right">Signed in as <a class="navbar-link" href="#">{{userName}}</a></p>
                    
                  </div><!-- /.navbar-collapse -->
                  </div>
            </nav><!-- /navbar -->
       
        <div class="container">
            <div class="row">
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <p>Top Questions</p> 
                  {% for item in replies %}
                  <div class="row">
                      <form id="{{item.Question}}" action="display_question.php">
                      
                      <div class="col-lg-12">
                        <p><a style="cursor:pointer" onclick="clicked(this.id);" id="{{item.Question}}">{{item.Title}}</a></p>
                        <input type="hidden" name="qid" value="{{item.Question}}" style="visibility:hidden;">
						{% for tag in item.tags %}
						<a class="qtag">{{tag}}</a>
						{% endfor %}                        
                      </div>
                      </form>
                  </div>

                  <hr />
                  {% endfor %}
                </div>
                
                <div class="col-lg-5">
                    <p>Recommended For You </p>
                    {% for item in recommend %}
                    <div class="row">
                      <form id="{{item.Question}}" action="display_question.php">
                      <div class="col-lg-12">
                        <p><a style="cursor:pointer" onclick="clicked(this.id);" id="{{item.Question}}">{{item.Title}}</a></p>
                      	<input type="hidden" name="qid" value="{{item.Question}}" style="visibility:hidden;">
                      </div>
                      </form>
                    </div>
                    <hr />
                    {% endfor %}
                </div>
                
                <div class="col-lg-2">
                    <p>Leader Board</p>
                    <div class="list-group">
                      {% for item in leader %}
                      <form action="get_profile.php" id="{{item.User}}">
                      <a onclick="openProfile(this.id)" id="{{item.User}}" class="list-group-item">
                        {{item.Name}}
                        <span class="badge">{{item.Score}}</span>
                         <input type="checkbox" name="User" value="{{item.User}}" style="visibility:hidden;">
                      </a>
                      </form>
                      {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <footer class="navbar-inverse">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <h3 class="footer-title">Subscribe</h3>
                <p>
                  &copy; 2014 <a href="#">Ask Albert</a>
                </p>
              </div> <!-- /col-xs-7 -->

              
          </div>
        </footer>

    <!-- Load JS here for greater good =============================-->
    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="js/jquery.ui.touch-punch.min.js"></script>
    <script src="js/bootstrap-tagsinput.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-select.js"></script>
    <script src="js/bootstrap-switch.js"></script>
    <script src="js/flatui-checkbox.js"></script>
    <script src="js/flatui-radio.js"></script>
    <script src="js/jquery.tagsinput.js"></script>
    <script src="js/jquery.placeholder.js"></script>
  </body>
</html>